tr:hover {
    /* background-color: #909090!important; */
}

.td-action {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.link {
    text-decoration: none;
    color: #007ACC;
}